@font-face {
    font-family: 'MegaTwins';
    src: local('MegaTwins'),
         url('../fonts/MegaTwins.woff2') format('woff2'),
         url('../fonts/MegaTwins.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
